<!-- views/partials/_header.ejs -->

<nav class="navbar navbar-dark bg-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="/#">
      <img src="/images/hangry-cat.png" width="60" height="60" class="d-inline-block align-top" alt="">
      Hangry CAT
    </a>
  </div>
  <a href="/logout" class="btn btn-danger float-lg-right"><span class="fa fa-sign-out"></span> Log Out</a>
</nav>
