<!DOCTYPE html>
<html lang="en">
  <% include partials/_head %>
  <body>
    <% include partials/_header %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Thank You For Your Order ! <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h1>

        <p class="lead">You will be notified via SMS how long your food will take.</p>
        <hr class="my-2">
        <a href = "/users/restaurants/1/menu">
          <button type="button" class="btn btn-success"> Back to Menu </button>
        </a>
      </div>
    </div>
    <% include partials/_scripts %>
  </body>
</html>
