<!DOCTYPE html>
<html lang="en">
  <% include partials/_head %>
  <body>
    <% include partials/_header %>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">You have a new Order!</h1>

        <p class="lead">Find the orders below and notify customers the estimated time for food.</p>
        <hr class="my-2">
        <section id = "order_list">
          <form id= "order" name = "composeorder" action ="" method ="POST">
            Order for User: <%= data[0].user_id %>
              <input id = "minutescont" type = "text" placeholder="minutes" name ="minutes" >
              <input class="btn btn-success" type = "submit" value ="Notify" >
         </form>
        </section>
      </div>
    </div>
    <% include partials/_scripts %>
  </body>
</html>
